{% for loc in user_locations %}
<tr data-location='{"lat":{{ loc.latitude }},"lng":{{ loc.longitude }},"user":"{{ loc.user.username }}","city":"{{ loc.city }}"}'>
    <td>{{ loc.user.username }}</td>
    <td>
        {{ loc.city }}, {{ loc.country }}
        <small class="d-block text-muted">
            {{ loc.latitude|floatformat:4 }}, {{ loc.longitude|floatformat:4 }}
        </small>
    </td>
    <td class="time-ago" data-timestamp="{{ loc.timestamp|date:'c' }}">
        {{ loc.timestamp|timesince }} ago
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="3" class="text-center py-4 text-muted">
        No location data available
    </td>
</tr>
{% endfor %}
